<div class="header-transparent navbar-fixed-top">
  <div class="navigation-transparent">
    <div class="container">
      <div class="row">
        <div class="col-md-2 col-sm-3 col-xs-4">
          <a href="home"><img src="/assets/logo.png" alt=""></a>
        </div>
        <div class="col-md-8 col-sm-12">
          <div id="navigation">
            <ul>

              <%= active_page("Home", "/pages/home") %>
              <%= active_page("About Us", "/pages/about-us") %>

              <li>
                <%= page_link("Repair Service", "/pages/service-list", "link") %>
                <ul>
                  <%= active_page("PC and IMAC Repair", "/pages/pc-mac") %>
                  <%= active_page("Laptop Repair", "/pages/laptop") %>
                  <%= active_page("Smart Phone Repair", "/pages/phone") %>
                  <%= active_page("Tablet Repair", "/pages/tablet") %>
                  <%= active_page("Console Repair", "/pages/console") %>
                  <%= active_page("Data Recovery", "/pages/data-recovery") %>
                </ul>
              </li>

              <li>
                <a href="/pages/pricing" title="Feature">Feature</a>
                <ul>
                  <%= active_page("Pricing", "/pages/pricing") %>
                    <%= active_page("Feedback", "/feedbacks/new") %>
                </li>

              </ul>
                  <li>
                    <%= link_to 'Contact Us', contact_path, class: ' link' %>
                  </li>
                </li>
                <% if current_user %>
                  <li class="dropdown">

                     <%= link_to current_user.email, users_path, class: ' dropdown-toggle btn btn-fb', data:{toggle: 'dropdown'} %>

                      <ul id="logout-dp" class="dropdown-menu">
                      <li>
                        <div class="well-bg">
                          <div class="row">
                            <div class="col-md-12">
                            <div class="social-buttons">
                              <%= link_to 'LogOut', logout_path , class: 'btn'  %>
                            </div>
                          </br>
                            <div class="social-buttons">
                              <%= link_to 'Edit profile', edit_user_path(current_user), class: 'btn' %>
                            </div>
                          </br>
                            <div class="social-buttons">
                              <%= link_to 'Cabinet', users_path, class: 'btn' %>
                            </div>
                          </br>
                          <% if !current_user.customer? %>
                            <div class="social-buttons">
                              <%= button_tag class:'btn', data: {target: "#sidebar-right",  toggle: "modal"} do content_tag(:b, "Service Menu") end %>
                            </div>
                          <% end %>

                          </div>
                          </div>
                        </li>
                      </ul>

                  </div>
                </li>

              <% else %>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <b>Login</b>
                  </a>
                  <ul id="login-dp" class="dropdown-menu">
                    <li>
                      <div class="well-bg">
                        <div class="row">
                          <div class="col-md-12">
                            <b>Login via</b>
                            <div class="social-buttons">
                              <%= link_to login_google_path, class: 'btn btn-fb' do %>
                              <i class="fa fa-google btn-google">
                                Google</i>
                            <% end %>
                          </div>
                          or
                          <%= render '/sessions/nav_form' %>

                          <div class="bottom btn">
                            <%= link_to "Sign up", signup_path, class: 'btn btn-fb' %>
                          </div>

                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </li>
            <% end %>
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>
</div>
