<div class="container table-responsive">
  <table class="table table-bordred table-striped" >
    <thead>
      <th>Num.</th>
      <th>Device</th>
      <th>Customer</th>
      <th>Stage</th>
      <th>Total Price</th>
      <th>Collaborator</th>
      <th>IMEI</th>
    </thead>
    <% tickets.each do | ticket | %>
    <tr align="center"><td><%=link_to ticket.id, ticket %> </td>
      <td> <%= ticket.device.model.description %> </td>
      <td> <%= ticket.customer.full_name %> </td>
      <td> <%= ticket.stage.humanize %> </td>
      <td> <%= ticket.total_price.to_s + ' hrn.' if ticket.total_price.present? %> </td>
      <td> <%= ticket.collaborator.nickname.to_s if ticket.collaborator.present?  %> </td>
      <td> <%= ticket.device.imei if ticket.device.imei.present? %> </td>

    </tr>
    <% end %>
  </table>
</div>
