<%= form_with model: @customer, local: true do |f| %>
<  <%= render partial: '/shared/form_errors', :locals => { obj: @customer } %>


    <div>
      <td><%= link_to customers_path, :class=>'btn btn-primary btn-sm' do %>
         <i class="fa fa-undo"></i>
         <% end %></td>
    </div>
    <div class="form-group">
      <%= f.label :first_name %><br/>
      <%= f.text_field :first_name, class: "form-control", required: true %>
    </div>

    <div class="form-group">
      <%= f.label :last_name %><br/>
      <%= f.text_field :last_name, class: "form-control", required: true %>
    </div>

    <div class="form-group">
      <%= f.label :phone_number %><br/>
      <%#= f.date_select :birth_date, start_year: 1960, include_blank: true, { :class => "form-control"} %>
        <%= f.text_field :phone_number, class: "form-control", required: true %>
      </div>

        <% if @customer.created_at %>
          <div class="actions"><%= link_to 'Delete Customer', customer_path(@customer), :class=>'btn btn-danger float-lest', method: :delete, data: { confirm: 'Do you want to delete Customer account. Are you sure?' } %>
            <tr class="actions"><%= f.submit "Update", :class=>'btn btn-default float-right' %></tr>
          </div>
        <% else %>
        <div class="actions"><%= f.submit "Create Customer", :class=>'btn btn-default float-right' %></div>
      </div>
    <% end %>
<% end %>
