<%= render partial: '/pages/header', :locals => { text: "Customers" } %>

<% if can? :create, Customer %>
<%= link_to 'New Customer', new_customer_path, :class=>'btn btn-default pull-right' %>
<% end %>
<div class="section-space">
  <!-- main container -->
  <div class="row">
    <div class="container">
      <div class="table-responsive">
        <table class='table table-bordred table-striped'>
          <tr align="center">
            <th>Number</th>
            <th>Full Name</th>
            <th>phone number</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
          <% @customers.each do | customer | %>
            <tr align="center">
              <td>
                <%=link_to customer.id, customer %>
              </td>
              <td>
                <%= customer.full_name %>
              </td>
              <td>
                <%= customer.phone_number %>
              </td>
              <td>
              <% if can? :update, customer %>
                  <%= link_to edit_polymorphic_path(customer), :class=>'btn btn-default' do %>
                  <i class="fa fa-pencil"></i>
                <% end %>
              </td>
            <% end %>
            <td>
              <% if can? :destroy, customer %>
                <%= link_to (customer), :class=>'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } do %>
                <i class="fa fa-trash"></i>
              <% end %>
            <% end %>
          </td>
        </tr>

      <% end %>
    </table>

  </div>
  <%== pagy_bootstrap_nav(@pagy) if current_page?(action: 'index') if @pagy.pages > 1 %>
</div>

  </div>
</div>
