<%#= link_to 'New category', categories_path(country_id: @country.id), method: :post, :class=>'btn btn-default' %>
<div class="container">
  <table rules="cols, rows" cellspacing="2" border="1" cellpadding="5" width="800" >
    <tr>
      <th>Num.</th>
      <th>Device</th>
      <th>Customer</th>
      <th>Stage</th>
      <th>Oriented Price</th>
      <th>Prepayment</th>
      <th>Total Price</th>
      <th>To pay</th>
      <th>Collaborator</th>
      <th>IMEI</th>
      <th>Disrepares</th>
      <th>Operations</th>
      <th>Parts</th>
      <th>Earned Money</th>
      <th>Orient date</th>

    </tr>
    <tr align="center"><td><%= @ticket.id %> </td>
        <td> <%= @device.model.description %> </td>
        <td> <%= @customer.full_name %> </td>
        <td> <%= @ticket.stage.humanize %> </td>

        <td> <%= number_to_currency(@ticket.orient_price) %> </td>
        <td> <%= number_to_currency(@ticket.prepayment) %> </td>
        <td> <%= number_to_currency(@ticket.total_price) %> </td>
        <td> <%= number_to_currency(@ticket.pay_price) %> </td>

        <td> <%= @collaborator.nickname.to_s if @collaborator.present?  %> </td>
        <% select_tag 'nickname', options_for_select(@collaborators.collect{ |u| [u.nickname, u.id] }) %>
        <td> <%= @device.imei if @device.imei.present? %> </td>
        <td><% @disrepares.each do |d| %>
        <%=  d.description %> <p/>
        <% end %></td>
        <td><% @operations.each do |o| %>
        <%=  o.description %>  <p/>
        <% end %></td>
        <td><% @parts.each do |o| %>
        <%=  o.description  %>  <p/>
        <% end %></td>
        <td> <%= @ticket.earned_money.to_s %> </td>
        <td> <%= @ticket.orient_date %> </td>
    </tr>
  </table>
  <%= link_to 'Back', tickets_path, :class=>'btn btn-outline-secondary'%>
  <%= link_to 'Edit', edit_ticket_path, :class=>'btn btn-outline-secondary'%>
</div>
