<div class="well-inner">
  <div class="service-img">
    <a href="/pages/pc-mac"><img src="/assets/service-pc-mac.jpg" alt="" class="img-responsive"></a>
  </div>
  <h3>
    <a href="/pages/pc-mac" class="heading-title">PC &amp; MAC Computers</a>
  </h3>
  <p>We can organise a brand new pc &amp; mac, if yours doesn’t pull.</p>
  <%= page_link("Read more", "/pages/pc-mac", "btn-link") %>
</div>
</div>
<!-- /.service-block -->
<div class="col-md-4 service-block text-center col-sm-4">
<!-- service-block -->

<div class="well-inner">
  <div class="service-img">
    <a href="/pages/laptop"><img src="/assets/service-laptop.jpg" alt="" class="img-responsive"></a>
  </div>
  <h3>
    <%= page_link("Laptop Repair", "/pages/laptop", "heading-title") %>
  </h3>
  <p>We are experts to fix all hardware &amp; software diagnosis of laptop.</p>
  <%= page_link("Read more", "/pages/laptop", "btn-link") %>
</div>
</div>
<!-- /.service-block -->
<div class="col-md-4 service-block text-center col-sm-4">
<!-- service-block -->

<div class="well-inner">
  <div class="service-img">
    <a href="/pages/phone-single-page.html"><img src="/assets/service-phone.jpg" alt="" class="img-responsive"></a>
  </div>
  <h3>
    <%= page_link("Smart Phone Repair", "/pages/phone", "heading-title") %>
  </h3>
  <p>Our technicians are trained to fix a vast range of smartphone.</p>
  <%= page_link("Read more", "/pages/phone", "btn-link") %>
</div>
</div>
<!-- /.service-block -->
<div class="col-md-4 service-block text-center col-sm-4">
<!-- service-block -->

<div class="well-inner">
  <div class="service-img">
    <a href="/pages/tablet"><img src="/assets/service-tablet.jpg" alt="" class="img-responsive"></a>
  </div>
  <h3>
    <%= page_link("Tablet Repair", "/pages/tablet", "heading-title") %>
  </h3>
  <p>We can fix the problem quickly so that you can enjoy your tablet.</p>
  <%= page_link("Read more", "/pages/tablet", "btn-link") %>
</div>
</div>
<!-- /.service-block -->
<div class="col-md-4 service-block text-center col-sm-4">
<!-- service-block -->

<div class="well-inner">
  <div class="service-img">
    <a href="/pages/data-recovery"><img src="/assets/data-recovery-sidenav.jpg" alt="" class="img-responsive"></a>
  </div>
  <h3>
    <%= page_link("Data Recovery", "/pages/data-recovery", "heading-title") %>
  </h3>
  <p>In some case, We will be able to recover data at the ecinc.</p>
  <%= page_link("Read More", "/pages/data-recovery", "btn-link") %>
</div>
</div>
<!-- /.service-block -->
<div class="col-md-4 service-block text-center col-sm-4">
<!-- service-block -->

<div class="well-inner">
  <div class="service-img">
    <a href="/pages/console"><img src="/assets/console-service.jpg" alt="" class="img-responsive"></a>
  </div>
  <h3>
    <%= page_link("Console Repair", "/pages/console", "heading-title") %>
  </h3>
  <p>Our technicians can fix your console device and you play with it.</p>
    <%= page_link("Read more", "/pages/console", "btn-link") %>
</div>
</div>
<!-- /.service-block -->
