<%= render partial: 'header', :locals => { text: "Pricing" } %>
<!-- /.page-header -->
<div class="main-container"><!-- main container -->
  <div class="container">
    <div class="row">
      <div class="col-md-6 pricing-block col-sm-12"><!-- pricing block -->
        <div class="pricing-head"><!-- pricing head -->
          <h1 class="heading-white">Pc &amp; iMac Repair</h1>
          <p>Below are pc &amp; iMac’s each service repair pricing cursus
            dapibus sapien quislorem ipsums tempor. </p>
        </div>
        <!-- /.pricing head -->
        <div class="well-bg">
          <div class="well-inner">
            <ul class="price-list listnone check-circle">
              <!-- pricing list -->
              <li class="price-item"> <span class="price-amount">$15</span> Virus/Spyware Removal </li>
              <li class="price-item"> <span class="price-amount">$20</span> Battery Replacement </li>
              <li class="price-item"> <span class="price-amount">$30</span> Pc Diagnostics </li>
              <li class="price-item"> <span class="price-amount">$45</span> LCD Screen Repair </li>
              <li class="price-item"> <span class="price-amount">$50</span> Memory Upgrade/Replacement </li>
              <li class="price-item"> <span class="price-amount">$35</span> Water Damage Repair/Diagnostics </li>
            </ul>
            <!-- /.pricing list -->
            <%= link_to 'Get Repair', contact_path, class: 'btn btn-default' %>
         </div>
        </div>
      </div>
      <!-- /.pricing block -->
      <div class="col-md-6 pricing-block col-sm-12"><!-- pricing block -->
        <div class="pricing-head"><!-- pricing head -->
          <h1 class="heading-white">Laptop Repair</h1>
          <p>Below are laptop’s each service repair pricing cursus dapibus sapien quislorem ipsums tempor. </p>
        </div>
        <!-- /.pricing head -->
        <div class="well-bg">
          <div class="well-inner">
            <ul class="price-list listnone check-circle">
              <!-- pricing list -->
              <li class="price-item"> <span class="price-amount">$115</span> LCD Display Panel </li>
              <li class="price-item"> <span class="price-amount">$210</span> Keyboard Replacement </li>
              <li class="price-item"> <span class="price-amount">$310</span> Laptop water damage</li>
              <li class="price-item"> <span class="price-amount">$415</span> Battery Replacement </li>
              <li class="price-item"> <span class="price-amount">$510</span> Cracked hinges or Panels </li>
              <li class="price-item"> <span class="price-amount">$315</span> Power Adapter Replacement </li>
            </ul>
            <!-- /.pricing list -->
            <%= link_to 'Get Repair', contact_path, class: 'btn btn-default' %>
          </div>
        </div>
      </div>
      <!-- /.pricing block -->
      <div class="col-md-6 pricing-block col-sm-12"><!-- pricing block -->
        <div class="pricing-head"><!-- pricing head -->
          <h1 class="heading-white">Smartphone Repair</h1>
          <p>Below are Smartphone’s each service repair pricing  dapibus sapien quislorem ipsums tempor. </p>
        </div>
        <!-- /.pricing head -->
        <div class="well-bg">
          <div class="well-inner">
            <ul class="price-list listnone check-circle">
              <!-- pricing list -->
              <li class="price-item"> <span class="price-amount">$115</span> Phone Diagnosis </li>
              <li class="price-item"> <span class="price-amount">$210</span> Water datmaged </li>
              <li class="price-item"> <span class="price-amount">$310</span> Mobile Connection</li>
              <li class="price-item"> <span class="price-amount">$415</span> Device Setup </li>
              <li class="price-item"> <span class="price-amount">$510</span> Data Recovery </li>
              <li class="price-item"> <span class="price-amount">$315</span>Water Damage Repair </li>
            </ul>
            <!-- /.pricing list -->
            <%= link_to 'Get Repair', contact_path, class: 'btn btn-default' %>
          </div>
        </div>
      </div>
      <!-- /.pricing block -->
      <div class="col-md-6 pricing-block col-sm-12"><!-- pricing block -->
        <div class="pricing-head"><!-- pricing head -->
          <h1 class="heading-white">Tablet Repair</h1>
          <p>Below are Tablet’s each service repair pricing cursus dapibus sapien quislorem ipsums tempor. </p>
        </div>
        <!-- /.pricing head -->
        <div class="well-bg">
          <div class="well-inner">
            <ul class="price-list listnone check-circle">
              <!-- pricing list -->
              <li class="price-item"> <span class="price-amount">$15</span> Glass &amp; LCD Replacement </li>
              <li class="price-item"> <span class="price-amount">$30</span> Charge Port Repair </li>
              <li class="price-item"> <span class="price-amount">$60</span> Tablet water damage</li>
              <li class="price-item"> <span class="price-amount">$45</span> Battery Replacement </li>
              <li class="price-item"> <span class="price-amount">$50</span> Cracked hinges or Panels </li>
              <li class="price-item"> <span class="price-amount">$35</span>Memory Upgrade/Replacement</li>
            </ul>
            <!-- /.pricing list -->
            <%= link_to 'Get Repair', contact_path, class: 'btn btn-default' %>
          </div>
        </div>
      </div>
      <!-- /.pricing block -->
      <div class="col-md-6 pricing-block col-sm-12"><!-- pricing block -->
        <div class="pricing-head"><!-- pricing head -->
          <h1 class="heading-white">Data Recovery</h1>
          <p>Below are Data Recovery’s each service repair pricing dapibus sapien quislorem ipsums tempor. </p>
        </div>
        <!-- /.pricing head -->
        <div class="well-bg">
          <div class="well-inner">
            <ul class="price-list listnone check-circle">
              <!-- pricing list -->
              <li class="price-item"> <span class="price-amount">$15</span> Computer Dead – HHD Recovery </li>
              <li class="price-item"> <span class="price-amount">$30</span> Hard Drive Recovery </li>
              <li class="price-item"> <span class="price-amount">$60</span> Hard Drive Diagnostic Fee</li>
              <li class="price-item"> <span class="price-amount">$45</span> External Hard Drive Data Recovery </li>
              <li class="price-item"> <span class="price-amount">$50</span> Last Resort for HDD Recovery </li>
              <li class="price-item"> <span class="price-amount">$35</span>USB, Flash Memory Card recovery</li>
            </ul>
            <!-- /.pricing list -->
            <a href="ErrorPage" class="btn btn-default">Get Repair ErrorPage</a> </div>
        </div>
      </div>
      <!-- /.pricing block -->
      <div class="col-md-6 pricing-block col-sm-12"><!-- pricing block -->
        <div class="pricing-head"><!-- pricing head -->
          <h1 class="heading-white">Game Console</h1>
          <p>Below are Data Recovery’s each service repair pricing dapibus sapien quislorem ipsums tempor. </p>
        </div>
        <!-- /.pricing head -->
        <div class="well-bg">
          <div class="well-inner">
            <ul class="price-list listnone check-circle">
              <!-- pricing list -->
              <li class="price-item"> <span class="price-amount">$15</span> Console Repair / Replacement </li>
              <li class="price-item"> <span class="price-amount">$30</span> Console Setup </li>
              <li class="price-item"> <span class="price-amount">$60</span> Diagnostic Service</li>
              <li class="price-item"> <span class="price-amount">$45</span> Device Setup </li>
              <li class="price-item"> <span class="price-amount">$50</span> Console Adapter Replacement</li>
              <li class="price-item"> <span class="price-amount">$35</span>Console Tools </li>
            </ul>
            <!-- /.pricing list -->
            <%= link_to 'Get Repair', contact_path, class: 'btn btn-default' %>
          </div>
        </div>
      </div>
      <!-- /.pricing block -->
    </div>
  </div>
</div>
<!-- /.main container -->
