<%= render partial: 'pages/header', :locals => { text: "Tickets list" } %>

<div class="main-container"><!-- main container -->
  <div class="space-bottom-80">
    <div class="container table-responsive table-bordered">
      <table class="table" rules="cols, rows" cellspacing="2" border="1" cellpadding="5" width="800" >
        <tr>
          <th>Num.</th>
          <th>Device</th>
          <th>Customer</th>
          <th>Stage</th>
          <th>Total Price</th>
          <th>Collaborator</th>
          <th>IMEI</th>
        </tr>
        <% @tickets.each do | ticket | %>
        <tr align="center"><td><%=link_to ticket.id, ticket %> </td>
          <td> <%= ticket.device.model.description %> </td>
          <td> <%= ticket.customer.full_name %> </td>
          <td> <%= ticket.stage.humanize %> </td>
          <td> <%= ticket.total_price.to_s + ' hrn.' if ticket.total_price.present? %> </td>
          <td> <%= ticket.collaborator.nickname.to_s if ticket.collaborator.present?  %> </td>
          <td> <%= ticket.device.imei if ticket.device.imei.present? %> </td>

        </tr>
        <% end %>
      </table>

    </div>
  </div>
</div>
