<%= render partial: '/pages/header', :locals => { text: "SignUp" } %>
<div class="main-content">
  <!-- main container -->
  <div class="container content">
    <div class="row">
      <div class="col-md-6 pricing-block col-sm-12 col-md-offset-3">
        <!-- pricing block -->

        <div class="well-bg">
          <div class="well-inner">
            <%= render partial: '/shared/form_errors', :locals => { obj: @ticket } %>
            <%= form_with model: @ticket, local: true do |f| %>
<%#= form_with model: [@customer, @ticket], local: true do |form| %>

              <div>
                <td><%= link_to customers_path, :class=>'btn btn-primary btn-sm' do %>
                   <i class="fa fa-undo"></i>
                   <% end %></td>
              </div>
              <div class="form-group">
                Device: <%= f.select :device_id,  @device_arr, {}, { class: "selectize form-control", id: "device_ids" } %>
              </div>

              <div class="form-group">
              <%= f.label :orient_price %><br />
              <%= f.text_field :orient_price, class: "form-control" %>
              </div>

              <div class="form-group">
              <%= f.label :prepayment %><br />
              <%= f.text_field :prepayment, class: "form-control" %>
              </div>

              <div class="form-group">
              Collaborator: <%= f.select :collaborator_id, options_for_select(@collab_arr,
                   current_user&.collaborator&.id ) %>
              </div>

              <div class="form-group">
              <%= f.label :orient_date %><br />
              <%= f.date_field :orient_date, class: "form-control", value: Date.today + 3.days %>
              </div>

              <%= f.hidden_field :customer_id %><br />

              <div class="actions"><%= f.submit  :class=>'btn btn-default float-right' %></div>
              </div>

            nk_to_add_fields 'Add parts', f, :parts %>
              <div class="container-fluid">
                 <div class="actions">
                      <%#= form.submit  class: 'btn btn btn-default' %>
                </div>
              </div>


            <%#= render 'form_nested' %>
            <% end %>
          </div>
        </div>
        <!-- /.pricing block -->
      </div>
    </div>
  </div>
</div>
